In [1]:
import pandas as pd
import numpy as np
import env

import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from sklearn.model_selection import train_test_split

warnings.filterwarnings('ignore')

In [2]:
query ='''select bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips
from propertylandusetype
	join properties_2017
		using (propertylandusetypeid)
WHERE propertylandusedesc = ("Single Family Residential")'''

In [3]:
 url = env.get_db_url("zillow")

In [4]:
zillow=pd.read_sql(query,url)

In [5]:
zillow.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
3,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0

In [6]:
zillow.columns

Index(['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet',
       'taxvaluedollarcnt', 'yearbuilt', 'taxamount', 'fips'],
      dtype='object')

In [7]:
zillow.yearbuilt.isnull().value_counts()

yearbuilt
False    2143526
True        9337
Name: count, dtype: int64

In [8]:
(9337/2143526) * 100

0.43559070428816815

In [9]:
zillow.yearbuilt.isnull

<bound method Series.isnull of 0             NaN
1             NaN
2             NaN
3             NaN
4          2005.0
            ...
2152858    2015.0
2152859    2014.0
2152860       NaN
2152861    2015.0
2152862    2014.0
Name: yearbuilt, Length: 2152863, dtype: float64>

In [10]:
zillow.yearbuilt.info()

<class 'pandas.core.series.Series'>
RangeIndex: 2152863 entries, 0 to 2152862
Series name: yearbuilt
Non-Null Count    Dtype
--------------    -----
2143526 non-null  float64
dtypes: float64(1)
memory usage: 16.4 MB

In [11]:
zillow = zillow.dropna()

In [12]:
zillow.yearbuilt = zillow.yearbuilt.astype(int)

In [13]:
zillow.fips

4          6037.0
6          6037.0
7          6037.0
11         6037.0
14         6037.0
            ...
2152856    6037.0
2152858    6059.0
2152859    6059.0
2152861    6059.0
2152862    6037.0
Name: fips, Length: 2140235, dtype: float64

In [14]:
zillow.fips = zillow.fips.astype(int)

In [15]:
zillow.dtypes

bedroomcnt                      float64
bathroomcnt                     float64
calculatedfinishedsquarefeet    float64
taxvaluedollarcnt               float64
yearbuilt                         int64
taxamount                       float64
fips                              int64
dtype: object

In [16]:

zillow.rename(columns={"calculatedfinishedsquarefeet": "calfinsqft"}, inplace=True)

In [17]:
zillow.bedroomcnt = zillow.bedroomcnt.astype(int)
zillow.taxvaluedollarcnt = zillow.taxvaluedollarcnt.astype(int)
zillow.calfinsqft = zillow.calfinsqft.astype(int)

In [18]:
zillow.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2140235 entries, 4 to 2152862
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   bedroomcnt         int64
 1   bathroomcnt        float64
 2   calfinsqft         int64
 3   taxvaluedollarcnt  int64
 4   yearbuilt          int64
 5   taxamount          float64
 6   fips               int64
dtypes: float64(2), int64(5)
memory usage: 130.6 MB

In [19]:
import wrangle

In [20]:
zillow['taxamount_bins'] = pd.cut(zillow['taxamount'], bins=4)

In [21]:
from sklearn.model_selection import train_test_split

def wrangle_zillow(fin=zillow, target_column="taxamount_bins"):
    '''Takes the data frame and breaks it into train, test, and split information, with two splits'''

    # Use the specified target column for stratification
    target = fin[target_column]

    train, validate_test = train_test_split(fin,
                     train_size=0.6,
                     random_state=123,
                     #stratify=target
                    )

    validate, test = train_test_split(validate_test,
                                     train_size=0.5,
                                     random_state=123,
                                     #stratify=validate_test[target]
                                    )

    return train, validate, test

In [22]:
value_counts = zillow['taxamount'].value_counts() 
rare_classes = value_counts[value_counts == 1].index.tolist()

In [23]:
rare_classes

[6022.67,
 3891.81,
 6369.79,
 5805.99,
 4663.28,
 12682.37,
 7609.63,
 1404.23,
 12132.78,
 8785.13,
 15374.62,
 10008.86,
 14047.1,
 8100.33,
 6969.1,
 33541.92,
 4246.63,
 13032.38,
 6798.76,
 1202.05,
 4924.35,
 74057.07,
 7165.31,
 2124.07,
 28440.56,
 11641.76,
 5779.63,
 1883.93,
 16588.73,
 23101.61,
 36234.1,
 3933.09,
 25657.88,
 8340.98,
 8101.47,
 7067.79,
 4081.47,
 5557.41,
 7859.58,
 7310.43,
 14419.82,
 3167.21,
 7515.27,
 29617.66,
 7821.84,
 4691.8,
 6371.03,
 6964.59,
 14894.9,
 14908.13,
 3758.35,
 3984.41,
 646.99,
 2837.37,
 5807.48,
 32453.24,
 866.83,
 2318.63,
 18901.82,
 7224.21,
 9236.97,
 6513.59,
 8737.81,
 7916.6,
 8064.04,
 15108.88,
 6485.56,
 9544.54,
 8139.61,
 6600.72,
 546.35,
 7006.65,
 101760.3,
 9188.58,
 5487.92,
 8368.56,
 14364.42,
 647.31,
 13292.85,
 35234.18,
 14343.78,
 1565.23,
 3087.98,
 2904.39,
 5783.79,
 977.35,
 8372.02,
 9148.03,
 4119.18,
 14610.82,
 2793.87,
 7750.01,
 4778.61,
 19150.31,
 6385.86,
 9305.5,
 4830.82,
 7459.49,
 48144.25,
 9771.32,
 10150.26,
 2975.19,
 11632.42,
 1148.87,
 3480.91,
 3403.09,
 8299.65,
 7559.85,
 8154.46,
 866.39,
 12002.21,
 2149.19,
 9786.88,
 1598.09,
 3003.05,
 2529.23,
 31367.14,
 702.92,
 12773.5,
 3279.57,
 13326.22,
 4677.74,
 17538.73,
 13922.05,
 10694.57,
 5023.9,
 11516.52,
 10560.22,
 15019.22,
 4889.37,
 9948.9,
 19562.82,
 731.66,
 9149.7,
 8597.44,
 7020.53,
 18055.29,
 5333.36,
 6538.66,
 8307.31,
 2572.23,
 1873.45,
 28186.48,
 9855.89,
 3531.47,
 6999.48,
 9551.73,
 6639.03,
 4526.01,
 9689.18,
 18229.48,
 27206.05,
 6509.77,
 4637.41,
 27286.68,
 4928.72,
 5290.99,
 9107.58,
 13760.51,
 18709.85,
 6513.63,
 5784.67,
 5950.85,
 18367.93,
 2247.07,
 7326.28,
 7173.49,
 9319.81,
 815.49,
 79544.7,
 12968.69,
 12138.45,
 9120.9,
 7699.07,
 15017.04,
 16835.13,
 9746.97,
 6822.29,
 8749.33,
 8318.74,
 4280.04,
 10295.43,
 1626.33,
 11531.92,
 5573.83,
 2428.36,
 6411.92,
 26953.18,
 7701.46,
 4564.87,
 14819.49,
 4029.57,
 2950.13,
 454.63,
 9519.3,
 5003.73,
 105042.78,
 332244.3,
 5385.57,
 2770.11,
 20809.14,
 14908.14,
 4996.29,
 10339.59,
 19522.3,
 6117.34,
 6441.48,
 6439.3,
 7720.61,
 5261.96,
 2959.91,
 9213.68,
 7425.11,
 5905.12,
 9231.01,
 7384.43,
 12335.02,
 7787.43,
 9367.51,
 3824.72,
 13091.54,
 6544.38,
 9629.7,
 5648.77,
 68229.74,
 10113.03,
 9794.22,
 14811.73,
 2721.87,
 45097.74,
 8958.88,
 6660.89,
 26851.22,
 3466.07,
 10295.17,
 5765.45,
 7845.91,
 12903.97,
 31784.61,
 5872.52,
 14014.18,
 7834.49,
 14921.21,
 5247.19,
 2503.21,
 10474.2,
 3453.49,
 32173.59,
 10261.87,
 6839.97,
 4260.63,
 9991.96,
 7539.79,
 4084.78,
 13612.96,
 19110.91,
 29162.46,
 12153.72,
 10540.66,
 9057.11,
 21327.38,
 30879.55,
 4383.15,
 9065.28,
 6679.77,
 4393.25,
 10335.33,
 4786.93,
 10195.58,
 9432.41,
 7352.59,
 3116.8,
 20108.96,
 8152.57,
 20079.88,
 17707.3,
 33763.82,
 26130.41,
 6144.35,
 1764.68,
 5000.57,
 7423.06,
 8407.04,
 36529.64,
 7132.21,
 8369.59,
 8927.1,
 16901.39,
 2354.53,
 4452.13,
 3415.82,
 18653.86,
 5678.85,
 15485.96,
 23378.36,
 3407.85,
 15547.4,
 15091.57,
 6414.37,
 5924.58,
 9807.09,
 14753.49,
 11849.72,
 3516.21,
 5051.54,
 4637.37,
 7283.89,
 6738.11,
 4802.65,
 5622.63,
 7862.51,
 12879.72,
 13863.28,
 47163.77,
 2057.98,
 10828.29,
 28180.26,
 19193.77,
 1440.19,
 637.0,
 7669.36,
 1859.01,
 16363.35,
 9235.94,
 12528.29,
 8102.79,
 13648.51,
 7197.48,
 3833.22,
 21949.55,
 13304.84,
 6840.8,
 4182.83,
 8325.67,
 4428.41,
 43570.05,
 2447.01,
 9394.56,
 10454.74,
 8035.18,
 4976.75,
 8868.55,
 4012.95,
 10778.29,
 9152.82,
 3916.04,
 13267.64,
 8006.59,
 5263.65,
 7336.97,
 8247.74,
 7456.11,
 6898.01,
 10156.84,
 4736.76,
 9860.95,
 6630.95,
 4010.38,
 893.13,
 10261.73,
 1285.83,
 6984.18,
 9460.92,
 10881.87,
 38949.09,
 14993.36,
 11719.45,
 8812.75,
 8976.95,
 6689.29,
 7290.96,
 7106.16,
 6340.4,
 7673.79,
 5945.26,
 2468.63,
 6472.53,
 1423.05,
 7637.04,
 17193.48,
 1547.47,
 3597.13,
 9355.51,
 12195.74,
 4722.67,
 1734.85,
 10693.59,
 10564.12,
 6092.91,
 5119.59,
 39972.72,
 6531.12,
 1792.35,
 9495.86,
 7254.51,
 7902.4,
 1360.03,
 3507.49,
 2769.7,
 230.11,
 6371.39,
 3438.77,
 12732.36,
 32539.79,
 10828.24,
 15342.81,
 3946.99,
 10129.64,
 6305.07,
 2438.15,
 7219.04,
 4786.77,
 1791.0,
 16216.88,
 13806.51,
 5986.83,
 6202.15,
 10083.82,
 12383.29,
 6771.83,
 7771.9,
 2409.61,
 9757.66,
 44934.41,
 7486.72,
 12783.58,
 3228.37,
 9415.89,
 5367.91,
 11366.63,
 10870.12,
 5816.35,
 7069.67,
 22420.78,
 11768.5,
 1166.82,
 605.72,
 9248.01,
 4255.75,
 577.06,
 8802.28,
 16075.14,
 4963.85,
 8567.66,
 7418.81,
 20426.27,
 12704.27,
 19174.39,
 724.28,
 8062.67,
 1577.91,
 7740.15,
 14011.1,
 5815.83,
 2283.61,
 2131.07,
 9913.73,
 6917.21,
 31933.82,
 7729.58,
 2145.53,
 9565.55,
 6478.33,
 1918.22,
 6478.16,
 5702.67,
 13480.42,
 1257.77,
 1450.22,
 9314.63,
 10540.07,
 12272.77,
 2674.71,
 1429.61,
 1281.77,
 4753.91,
 1419.31,
 4069.49,
 26887.47,
 6117.03,
 753.72,
 8431.9,
 6004.31,
 600.76,
 19697.16,
 2615.44,
 5053.46,
 4742.77,
 1727.87,
 4681.42,
 1570.49,
 8139.31,
 6577.79,
 1006.15,
 12058.53,
 3864.61,
 7215.5,
 6616.64,
 8901.64,
 5576.04,
 654.7,
 5426.37,
 285.13,
 24215.56,
 7085.79,
 8153.32,
 17197.78,
 5915.99,
 1659.57,
 8996.84,
 11707.97,
 7317.38,
 9255.19,
 38958.95,
 5663.8,
 8438.9,
 16602.47,
 8207.06,
 14270.44,
 7224.36,
 7149.54,
 2929.97,
 10155.31,
 6538.61,
 9489.77,
 1032.21,
 4065.72,
 868.75,
 11820.48,
 8809.22,
 6948.45,
 1327.35,
 46749.01,
 13601.09,
 6584.3,
 5375.95,
 8579.69,
 3524.09,
 10194.14,
 26186.21,
 13166.38,
 507.29,
 4368.95,
 11618.28,
 11555.38,
 4185.63,
 9612.33,
 5593.13,
 1691.18,
 17567.21,
 34574.57,
 5695.97,
 2647.33,
 10552.09,
 2414.45,
 1978.99,
 9724.13,
 11031.02,
 4114.28,
 12817.69,
 4112.85,
 9064.73,
 10069.99,
 5053.11,
 2849.93,
 10662.11,
 5314.57,
 3882.03,
 4007.9,
 11185.45,
 22069.78,
 5967.63,
 126404.21,
 762.76,
 7369.03,
 13402.77,
 6585.87,
 17833.14,
 7181.68,
 2291.44,
 6939.93,
 7928.28,
 638.3,
 19432.73,
 12906.28,
 12466.68,
 5628.28,
 27894.57,
 10215.4,
 10355.64,
 6344.16,
 10129.69,
 7410.7,
 13176.06,
 9293.01,
 6457.51,
 14530.86,
 2254.65,
 6040.85,
 1547.11,
 7753.65,
 7047.65,
 2844.31,
 20350.75,
 10427.19,
 14619.56,
 10433.04,
 4968.86,
 966.69,
 10702.25,
 28787.05,
 6749.61,
 14057.98,
 25074.42,
 6796.86,
 10486.19,
 16370.72,
 4732.07,
 10762.23,
 1108.98,
 11943.69,
 7812.79,
 6410.98,
 25492.66,
 4520.65,
 7300.15,
 3598.49,
 3457.08,
 4267.27,
 17709.94,
 7621.53,
 2145.79,
 10575.02,
 15223.36,
 40790.05,
 8525.23,
 7171.0,
 11149.53,
 555.02,
 3163.59,
 9927.92,
 13558.75,
 18091.69,
 4932.21,
 7305.17,
 9707.4,
 3046.93,
 403.42,
 7212.07,
 7180.72,
 3299.25,
 7400.32,
 9644.27,
 19094.59,
 8064.01,
 10985.03,
 10358.07,
 8803.16,
 4985.88,
 2099.51,
 8156.29,
 12045.44,
 9140.75,
 10770.16,
 4104.53,
 7797.67,
 3438.78,
 10721.28,
 4871.82,
 6418.88,
 9195.18,
 4551.67,
 5484.48,
 3125.49,
 879.35,
 6614.45,
 1558.49,
 6828.69,
 9602.88,
 9770.5,
 2923.73,
 11705.55,
 7583.61,
 8272.59,
 1482.03,
 9613.04,
 361.07,
 8194.43,
 10700.35,
 1347.78,
 3137.17,
 11038.02,
 5600.53,
 4558.35,
 3349.07,
 2608.31,
 14968.64,
 10328.24,
 5769.35,
 6419.93,
 5772.17,
 4363.01,
 7585.94,
 5675.14,
 1363.35,
 11233.58,
 9426.43,
 10416.58,
 6392.16,
 23555.34,
 9718.49,
 5768.48,
 29179.26,
 8448.77,
 7294.23,
 9664.27,
 19180.06,
 27251.64,
 11821.2,
 9813.37,
 6645.41,
 23962.88,
 11617.92,
 925.54,
 4010.45,
 7679.01,
 1728.99,
 5543.72,
 763.94,
 13201.6,
 17661.92,
 57468.25,
 2969.65,
 21487.11,
 11665.72,
 5518.63,
 6510.65,
 12769.28,
 27398.84,
 2279.09,
 788.13,
 8127.42,
 660.16,
 1833.12,
 18193.18,
 2995.46,
 9316.48,
 2786.97,
 15923.38,
 3946.68,
 2831.61,
 2555.61,
 10267.2,
 5062.75,
 5124.08,
 723.05,
 13124.53,
 8192.44,
 6248.37,
 1469.27,
 700.58,
 623.19,
 15388.58,
 14186.51,
 12486.28,
 6614.95,
 89954.68,
 8275.59,
 3152.77,
 19922.16,
 14668.66,
 6127.77,
 1944.41,
 40315.26,
 4731.77,
 1344.37,
 4073.34,
 28716.74,
 5007.73,
 1916.19,
 11621.87,
 7945.38,
 5672.44,
 8003.6,
 15472.19,
 9635.54,
 321.55,
 6676.27,
 7830.25,
 24727.93,
 16044.37,
 10227.57,
 6925.77,
 13642.86,
 4675.45,
 5022.28,
 5568.73,
 8572.21,
 7999.87,
 7317.41,
 6508.98,
 7330.26,
 7968.58,
 18906.14,
 6019.0,
 8784.26,
 2289.79,
 13676.31,
 9394.09,
 9277.02,
 6214.91,
 27526.06,
 15182.84,
 12297.48,
 5670.04,
 9450.32,
 9280.05,
 5581.13,
 30907.3,
 7499.0,
 14653.61,
 12767.77,
 10917.59,
 26122.87,
 20460.03,
 13198.57,
 13478.77,
 4465.57,
 9165.26,
 14855.04,
 8251.07,
 4381.35,
 6898.38,
 17951.16,
 25927.42,
 11303.99,
 17073.31,
 11233.29,
 8817.84,
 10857.52,
 10930.61,
 25205.23,
 9749.16,
 8271.57,
 28748.61,
 9651.37,
 6511.46,
 6390.41,
 10821.78,
 1670.1,
 12999.17,
 12508.45,
 7971.99,
 4126.73,
 12123.59,
 1997.65,
 19712.17,
 7238.46,
 13700.03,
 33664.66,
 9416.77,
 11997.5,
 1853.76,
 15713.33,
 29076.02,
 18494.66,
 9268.15,
 16613.56,
 4891.83,
 7383.35,
 5527.14,
 10847.96,
 8543.98,
 14684.48,
 8621.0,
 7449.99,
 378.83,
 13976.34,
 43608.22,
 6596.4,
 23382.13,
 29052.71,
 3464.23,
 12172.6,
 31288.0,
 9234.99,
 11600.67,
 530.75,
 7055.74,
 9607.11,
 11382.71,
 12271.88,
 390.44,
 10302.89,
 8591.33,
 6085.7,
 1118.87,
 7020.91,
 15527.47,
 4962.43,
 10740.22,
 1808.33,
 7787.08,
 10300.76,
 5490.29,
 9031.42,
 473.38,
 9131.96,
 10450.89,
 10722.96,
 6224.8,
 4464.16,
 10493.67,
 27734.39,
 270.3,
 9816.84,
 7189.68,
 12979.09,
 27156.12,
 1548.05,
 10358.62,
 13352.6,
 6612.86,
 11599.34,
 362.41,
 11158.75,
 7513.0,
 7715.3,
 12415.91,
 4423.45,
 585.5,
 16197.12,
 21889.85,
 11521.52,
 2371.17,
 1599.9,
 7296.7,
 15283.97,
 3547.41,
 15234.31,
 362.58,
 10389.86,
 6728.34,
 27343.64,
 9989.63,
 8148.15,
 11241.04,
 14596.07,
 5584.73,
 7541.19,
 15302.05,
 11837.6,
 43932.99,
 27100.74,
 7543.02,
 1315.05,
 9745.73,
 9176.6,
 14008.3,
 42513.59,
 12860.62,
 24692.04,
 9170.13,
 13093.91,
 7540.26,
 1465.1,
 1843.46,
 12381.31,
 25966.6,
 9681.44,
 9898.18,
 9691.7,
 5227.85,
 1361.55,
 2952.77,
 9141.6,
 11497.53,
 3973.32,
 6703.5,
 13893.11,
 16013.83,
 3901.85,
 1195.23,
 5790.28,
 1986.75,
 46592.72,
 7419.79,
 1422.24,
 8999.09,
 12126.43,
 695.86,
 1529.47,
 6652.82,
 6992.32,
 12759.88,
 5013.11,
 43303.75,
 1060.81,
 8602.17,
 23942.88,
 ...]

In [ ]:
zillow['taxamount'].replace(rare_classes, 'other_class')

In [ ]:
a,b,c= wrangle_zillow()

In [ ]:
a.head(1)

In [ ]:
print(zillow['taxamount'].value_counts())

In [ ]:
 zillow['taxamount'] = zillow["taxamount",bin=4]

In [ ]:
zillow

In [ ]:
a